<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>DAM 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-checkbox color="danger"></ion-checkbox>
      <ion-label>---- > Sistemas Informaticos  // <ion-icon name="laptop-outline" size = "small"></ion-icon></ion-label>
      
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger"></ion-checkbox>
      <ion-label> ---- > Lenguajes de Marcas // <ion-icon name="receipt-outline"></ion-icon></ion-label>
      
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger"></ion-checkbox>
      <ion-label> ---- > Entornos de Desarrollo // <ion-icon name="settings-outline"></ion-icon></ion-label>

    </ion-item>
    <ion-item>
      <ion-checkbox color="danger"></ion-checkbox>
      <ion-label> ---- > Programacion // <ion-icon name="code-slash-outline"></ion-icon> </ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger"></ion-checkbox>
      <ion-label> ---- > Bases de datos // <ion-icon name="download-outline"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger"></ion-checkbox>
      <ion-label> ---- > Inglés // <ion-icon name="earth-outline"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger"></ion-checkbox>
      <ion-label> ---- > Formación y Orientación Laboral // <ion-icon name="storefront-outline"></ion-icon></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
