<ion-menu side="end" type="push" contentId="main"></ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>

<ion-item>
  <ion-label>SELECCIONA FECHA</ion-label>
  <ion-datetime displayFormat="" placeholder=""></ion-datetime>
</ion-item>

<img src="https://as01.epimg.net/tikitakas/imagenes/2019/10/26/portada/1572101446_631841_1572169681_noticia_normal_recorte1.jpg" alt="">


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="DAM1">
        <ion-icon name="caret-down-outline" size = "large"></ion-icon>
        <ion-label>DAM 1</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="DAM2">
        <ion-icon name="caret-down-outline" size = "large"></ion-icon>
        <ion-label>DAM 2</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="FCT">
        <ion-icon name="caret-down-outline" size = "large"></ion-icon>
        <ion-label>FCT</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>


</ion-content>
