<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>DATOS PERSONALES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-content>
  <ion-item>
  <ion-label>Nombre: </ion-label>
  <ion-input [(ngModel)] = "miNombre"></ion-input>
</ion-item>


  <ion-item>
  <ion-label>Apellido: </ion-label>
  <ion-input [(ngModel)] = "miApellido"></ion-input>
</ion-item>


  <ion-item>
  <ion-label>Telefono: </ion-label>
  <ion-input [(ngModel)] = "miTelefono"></ion-input>
</ion-item>

  <ion-item>
  <ion-label>DNI: </ion-label>
  <ion-input [(ngModel)] = "miDni"></ion-input>
</ion-item>

  <ion-item>
  <ion-label>Localidad: </ion-label>
  <ion-input [(ngModel)] = "miLocalidad"></ion-input>
</ion-item>

</ion-content>
