<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>FCT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start">
      </ion-icon>
      <img src ="../../../assets/indra.jpg" height='210' width='310'>
    </ion-item>
  
    <ion-card-content>
      Indra es una de las principales compañías globales de tecnología y 
      consultoría y el socio tecnológico para las operaciones clave de los 
      negocios de sus clientes en todo el mundo. Es un proveedor líder 
      mundial de soluciones propias en segmentos específicos de los mercados
      de Transporte y Defensa, y la empresa líder en consultoría de transformación 
      digital y Tecnologías de la Información en España y Latinoamérica a través de
      su filial Minsait. Su modelo de negocio está basado en una oferta integral de 
      productos propios, con un enfoque end-to-end, de alto valor y con un elevado 
      componente de innovación. En el ejercicio 2019, Indra tuvo unos ingresos de 
      3.204 millones de euros,  mas de 49.000 empleados, presencia local en 46 países 
      y operaciones comerciales en más de 140 países.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="newspaper-outline" slot="start">
      </ion-icon>
      <img src ="../../../assets/despedio.jpg" height='210' width='310'>
    </ion-item>
  
    <ion-card-content>
      Los despidos afectarán a todos los centros de la filial, que cuenta en España con 13.000 empleados. 
      La empresa no ha especificado a cuantos trabajadores afectará o si el proceso se convertirá en un ERE y 
      recuerda que un procedimiento de despido colectivo es necesario por ley para realizar cambios en la plantilla 
      que afecten a más de 30 personas; ya que la empresa cuenta con más de 300 trabajadores. Tras el anuncio Indra ha
      subido un 1,96% en bolsa destacando en la parte alta del parqué este viernes.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="rocket-outline" slot="start">
      </ion-icon>
      <img src ="../../../assets/pais.jpg" height='210' width='310'>
    </ion-item>
  
    <ion-card-content>
      A partir de esa fecha, Scribd gestionará tu cuenta de SlideShare y cualquier 
      contenido que tengas en la plataforma. Además, se aplicarán las condiciones 
      generales de uso y la política de privacidad de Scribd. Si quieres darte de baja, 
      cierra tu cuenta de SlideShare. 
    </ion-card-content>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chevron-back-circle-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button  href = "https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button href = "https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      <ion-fab-button href = "https://twitter.com/home?lang=es"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-down-circle-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button  href = "https://ionicframework.com/docs"><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
      <ion-fab-button href = "https://www.java.com/es/"><ion-icon name="logo-javascript"></ion-icon></ion-fab-button>
      <ion-fab-button href = "https://dev.mysql.com/"><ion-icon name="bar-chart-sharp"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
